body {
  background-color: #363875;
}

#game-board-container {
  max-width: 400px;
  /* Máximo ancho para mantener el tamaño adecuado */
  margin: 10px auto;
}

#game-board {
  border-bottom: 20px solid #9bb9ed;
  border-top: 24px solid #9bb9ed;
  border-left: 24px solid #9bb9ed;
  border-right: 20px solid #9bb9ed;
  box-shadow:
    -2px -2px 0 0 #9bb9ed inset,
    /* Borde derecho */
    0 -2px 0 0 #9bb9ed inset;
  /* Borde inferior */
  width: 100%;
  padding-bottom: 100%;
  /* Hace que el tablero sea cuadrado */
  position: relative;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#controls div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#controls button {
  font-size: 35px;
  color: #363875;
  width: 60px;
  height: 60px;
  margin: 0px 4px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
}

.snake {
  width: 18px;
  height: 18px;
  background-color: #6bebf8;
  position: absolute;
}

.food {
  width: 18px;
  height: 18px;
  background-color: #4490e6;
  position: absolute;
}

#score-live {
  position: absolute;
  margin: 10px auto;
  width: 30px;
  height: 23px;
  top: 0px;
  left: 50%;
  font-size: 25px;
  color: #eeeafb;
  background-color: #2d60b3;
  text-align: center;
  padding: 0px 10px;
  border: 0px solid #000;
  z-index: 9999;
}

/* Ajuste del grosor por el exterior del borde superior e izquierdo y por el interior del borde inferior y derecho en pantallas más pequeñas */
@media (max-width: 450px) {
  #game-container {
    margin-right: 10px;
    margin-left: 10px;
  }

  #game-board {
    border-left: 20px solid #9bb9ed;
    border-top: 20px solid #9bb9ed;
    border-bottom: 2px solid #9bb9ed;
    border-right: 2px solid #9bb9ed;
    /* Grosor por el exterior del borde superior e izquierdo */
    box-shadow:
      1px 1px 0 0 #9bb9ed,
      /* Borde izquierdo */
      0 1px 0 0 #9bb9ed;
    /* Borde superior */

    /* Grosor por el interior del borde inferior y derecho */
    box-shadow:
      -18px -18px 0 0 #9bb9ed inset,
      /* Borde derecho */
      0 -18px 0 0 #9bb9ed inset;
    /* Borde inferior */
  }
}